@(message: String)

@main("Sentiment Classification") {

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src='@routes.Assets.at("javascripts/index.js")' type='text/javascript'></script>

    <h1> Sentiment Classification </h1>

    <form action = "@routes.Application.getSentenceSentiment()" method="post">

        <textarea name="content" cols="40" rows="5">text for sentiment prediction</textarea>
        <br>
        <button>Predict Sentiment</button>
        
        <ul id = "sentiments"></ul>
        
    </form>
    <br>
    
    
    <form action = "@routes.Application.clearHistory()" method="post">
        <br>
        <button>Clear History</button>
        
    </form>

        <br>
        <br>
        
    <form action = "@routes.Application.trainSentiment()" method="post">    
        <textarea name="content" cols="40" rows="5">text for sentiment training</textarea><br>
        <input type="radio" name="category" value="1">Positive<br>
        <input type="radio" name="category" value="0">Negative<br>
        <button name="trainButton">Submit training example, and retrain</button>
     </form>
   
}
